<form class="full-width-form" method="post" name="Contact Chiropractic Family" action="/thank-you/">
    <div class="visually-hidden">
        <label for="_subject">New form submission from Chiropractic Family contact form</label>
        <input aria-label="subject" id="_subject" name="_subject" value="New form submission from Chiropractic Family contact form"/>
    </div>
    <div class="full-width-form__wrapper">
        <div class="full-width-form__info-col">
            <h2>visit us</h2>
            <div class="full-width-form__business-location">
                <p class="h4 b">Chiropractic Family</p>
                <address>
                    <p><a href="{{ .Site.Data.site_settings.google_maps_url }}" target="_blank" rel="noopener noreferrer">{{ .Site.Data.site_settings.address.street }}<br>{{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}</a></p>
                </address>
            </div>
            <div class="full-width-form__operating-hours mt-2">
                <p class="h4 b">Hours</p>
                <ul>
                    <li>
                        <p class="b">{{ .Site.Data.site_settings.business_hours.full_day }}</p>
                        <span>{{ .Site.Data.site_settings.business_hours.full_day_hours }}</span>
                    </li>
                    <li>
                        <p class="b">{{ .Site.Data.site_settings.business_hours.half_day }}</p>
                        <span>{{ .Site.Data.site_settings.business_hours.half_day_hours }}</span>
                    </li>
                    <li>
                        <p class="h4 b">Phone</p>
                        <p><span><a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a></span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="full-width-form__form-col">
            <script src="https://cdn.hipaamate.com/forms/contact/api.js" data-website-id="cllpbub2z0001s601nw7poxm8" defer></script>
        </div>
    </div>
</form>