<form class="full-width-form" method="post" name="Contact Chiropractic Family" action="/thank-you/">
    <div class="visually-hidden">
        <label for="_subject">New form submission from Chiropractic Family contact form</label>
        <input aria-label="subject" id="_subject" name="_subject" value="New form submission from Chiropractic Family contact form"/>
    </div>
    <div class="full-width-form__wrapper">
        <div class="full-width-form__info-col">
            <h2>visit us</h2>
            <div class="full-width-form__business-location">
                <p class="h4 b">Chiropractic Family</p>
                <address>
                    <p><a href="{{ .Site.Data.site_settings.address.google_maps_url }}" target="_blank" rel="noopener noreferrer">{{ .Site.Data.site_settings.address.street }}<br>{{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}</a></p>
                </address>
            </div>
            <div class="full-width-form__operating-hours mt-2">
                <p class="h4 b">Hours</p>
                <ul>
                    <li>
                        <p class="b">{{ .Site.Data.site_settings.business_hours.full_day }}</p>
                        <span>{{ .Site.Data.site_settings.business_hours.full_day_hours }}</span>
                    </li>
                    <li>
                        <p class="b">{{ .Site.Data.site_settings.business_hours.half_day }}</p>
                        <span>{{ .Site.Data.site_settings.business_hours.half_day_hours }}</span>
                    </li>
                    <li>
                        <p class="b">Walk-ins are always welcome!</p>
                        <p><span><a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a></span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="full-width-form__form-col">
            <h2>join our waitlist</h2>
            <p class="mb-4">Get in touch so we can schedule an appointment!</p>
            <div class="contact-form__form-row">
                <div class="contact-form__row-wrapper">
                    <div class="contact-form__form-group">
                        <label for="first_name">Name *</label>
                        <input name="First Name" id="first_name" type="text" class="contact-form__form-control" required>
                    </div>
                </div>
            </div>
            <div class="contact-form__form-row">
                <div class="contact-form__row-wrapper">
                    <div class="contact-form__form-group">
                        <label for="email">Email *</label>
                        <input name="email" id="email" type="email" class="contact-form__form-control" required>
                    </div>
                </div>
            </div>
            <div class="contact-form__form-row">
                <div class="contact-form__row-wrapper">
                    <div class="contact-form__form-group">
                        <label for="phone">Phone *</label>
                        <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
                    </div>
                </div>
            </div>
            <div class="contact-form__form-row">
                <div class="contact-form__row-wrapper">
                    <div class="contact-form__form-group">
                        <label for="message">Concerns *</label>
                        <textarea name="Message" id="message" class="contact-form__form-control" rows="4" required></textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" name="inbox_key" value="contact_inbox" class="contact-form__inbox-key">
            <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
            <div class="h-captcha" data-sitekey="27fc2eeb-6552-42eb-bdb4-7addadd4e33f"></div>
            <br>
            <button type="submit" class="contact-form__btn btn btn--primary">Send Request</button>
        </div>
    </div>
</form>