{{ define "main" }}
{{ partial "hero" . }}
{{ if .Params.who_we_service.enabled }}
  {{ with .Params.who_we_service }}
  <div class="services__outter-wrapper wrapper-lg gap-md block-md">
    {{ range .content }}
      <div class="services__content-wrapper">
        <h2>{{ .heading }}</h2>
        {{ .benefits | markdownify }}
      </div>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
{{ if .Params.block.enabled }}
  {{ with .Params.block }}
  {{ partial "information-block" . }}
  {{ end }}
{{ end }}
{{ partial "full-width-contact-form" . }}
{{ partial "full-width-map" .}}
{{ end }}