.hero {
  position: relative;
  height: 300px;
  
  @include breakpoint(md) {
    height: 400px; 
  }

  &__outter-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  &__image-box-left {
    position: absolute;
    z-index: -1;
    max-width: clamp(200px, 50%, 545px);
    height: auto;
    top: -165px;
    left: -120px;
  }

  &__image-box-right {
    position: absolute;
    z-index: -1;
    max-width: clamp(150px, 50%, 570px);
    top: 155px;
    right: -90px;
  }
}
