.information-block {

  &__image-box-left {
    top: 1340px;
    left: -47px;
  }

  &__content:not(:first-child) {
    margin-top: clamp($ic-300, 10%, $ic-700);
  }

  &__image-box-right {
    top: 775px;
    right: -140px;
  }
}