.intro {
  // margin: 5rem 0 0 0;

  &__wrapper {
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__image {
    max-width: clamp(200px, 50%, 300px);
    margin: auto;

    @include breakpoint(sm) {
      position: absolute;
      z-index: -1;
      left: 5%;
    }

    h4 {
      display: none;

      @include breakpoint(xl) {
        display: block;
        text-align: center;
        font-family: $primary-font;
        color: $tertiary-color;
        margin-top: 1rem;
      }
    }
  }

  &__content {
    margin-top: $ic-200;
  }
}