.intro {
  margin: 15rem 0 0 0;

  @include breakpoint(sm) {
    margin: 18rem 0 0 0;
  }

  @include breakpoint(md) {
    margin: -2rem 0 -2rem 0;
  }

  &__wrapper {
    gap: 2rem;
    
    @include breakpoint(sm) {
      display: flex;
    }
  }

  &__image {
    max-width: 50%;

    h4 {
      display: none;

      @include breakpoint(sm) {
        display: block;
        text-align: center;
        font-family: $primary-font;
        color: $tertiary-color;
        margin-top: 1rem;
      }
    }
  }

  &__content {
    margin-top: $ic-200;
  }
}