.social {
  padding: 0;

  @include breakpoint(sm) {
    margin-left: $ic-100;
  }
  
  @include breakpoint(md) {
    margin-left: $ic-1000;
  }

  &__icon {

    svg {
      fill: $white;
    }
  }

  li {
    list-style-type: none;
    margin: 0;
  }
}
