.testimonial-block {

  &__wrapper {
    background-color: rgba(255, 255, 255, 0.7);

    blockquote {
      position: relative;
      line-height: $ic-200;
      margin: 0 auto 1rem;
      padding: 40px 30px 30px 70px;
      max-width: 365px;
      min-height: 285px;
      background-size: 100%;
      background-repeat: no-repeat;
    
      @include breakpoint(sm) {
        line-height: $ic-400;
        padding: 70px 30px 30px 60px;
        max-width: 485px;
        min-height: 405px;
      }
    
      @include breakpoint(md) {
        font-size: $ic-100;
        padding: 55px 30px 0 55px;
        max-width: 480px;
        min-height: 370px;
      }

      &:before {
        position: absolute;
        content: "";
        top: 5px;
        left: 20px;
        width: 45px;
        height: 120px;
        background: url("../uploads/quote-mark.png") no-repeat;
        background-size: contain;

        @include breakpoint(sm) {
          top: 25px;
          left: -5px;
          width: 60px;
          height: 170px;
        }

        @include breakpoint(md) {
          top: 20px;
          left: -15px;
          width: 70px;
          height: 185px;
        }
      }
    }

    q {
      quotes: none;
    }

    cite {
			display: block;
      font-size: $ic-100;
      font-family: $secondary-font;
      text-align: right;
      margin-top: $ic-100;
      padding-right: $ic-900;
      color: #424340;

      @include breakpoint(sm) {
        font-size: $ic-300;
      }
		}
  }
}
