.services__outter-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: $wrapper-radius;

  margin-top: clamp(-2rem, 10vw, -4rem);

   @include breakpoint(md) {
    display: flex;
    justify-content: center;
   }
}

.parent-page-services .hero__image-box-left,
.page-about .hero__image-box-left,
.page-contact .hero__image-box-left,
.parent-page-join-waitlist .hero__image-box-left {
  top: 50px;
  left: -105px;
  width: clamp(150px,50%,350px);
}

.parent-page-services .hero__image-box-right,
.page-about .hero__image-box-right,
.page-contact .hero__image-box-right,
.parent-page-join-waitlist .hero__image-box-right {
  top: 70px;
  right: -65px;
  width: clamp(150px,50%,365px);
}

.parent-page-services .information-block__image-box-left {
  width: clamp(200px, 50%, 480px);
  top: 850px;
  left: -140px;
}

.parent-page-services .information-block__image-box-right {
  width: clamp(200px, 50%, 550px);
  top: 900px;
  right: -125px;
}

.parent-page-services .information-block__content {
  h2 {
    font-size: clamp($ic-200, 4vw, $ic-300);
    font-family: $primary-font;
    font-weight: 500;
  }
}