.services__outter-wrapper {

   @include breakpoint(md) {
    display: flex;
    justify-content: center;
   }
}

.parent-page-services .hero__image-box-left {
  top: -35px;
  left: -105px;
}

.parent-page-services .hero__image-box-right {
  top: 0;
  right: -65px;
}