.services__outter-wrapper {
  background-color: rgba(255, 255, 255, 0.7);

  margin-top: clamp(-2rem, 10vw, -4rem);

   @include breakpoint(md) {
    display: flex;
    justify-content: center;
   }
}

.parent-page-services .hero__image-box-left {
  top: -35px;
  left: -105px;
}

.parent-page-services .hero__image-box-right {
  top: 0;
  right: -65px;
}

.parent-page-services .information-block__image-box-left {
  max-width: clamp(200px, 50%, 480px);
  top: 800px;
  left: -140px;
}

.parent-page-services .information-block__image-box-right {
  max-width: clamp(200px, 50%, 550px);
  top: 820px;
  right: -125px;
}