<section class="full-width-map" aria-label="Google Map of Chiropractic Family location">
  <div class="full-width-map__wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11389.491152189154!2d-88.0696756!3d44.4665309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8802fb6e9e0fc75f%3A0x5a1e1dd34339134b!2sChiropractic%20Family!5e0!3m2!1sen!2sus!4v1724473432889!5m2!1sen!2sus" title="Interactive Map Showing the Location of Chiropractic Family" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>