{{ $heroClass := lower .Page.Title }}
<section aria-labelledby="hero-heading" class="hero {{ anchorize $heroClass }}-hero">
  <div class="hero__image-box-left">
    <img class="img-neck-adjustment" src="{{ .Params.hero.image.image_url }}" alt="{{ .Params.hero.image.image_alt }}">
  </div>
  <div class="hero__outter-wrapper wrapper-xs flex flex-column">
    <div class="hero__content flow">
      <h1 class="shift-down" id="hero-heading">{{ .Params.hero.heading | safeHTML }}</h1>
      <h2 class="primary-font fw-500">{{ .Params.hero.sub_heading}}</h2>
      <p>{{ .Params.hero.body | markdownify}}</p>
    </div>
  </div>
  <div class="hero__image-box-right">
    <img src="{{ .Params.hero.image1.image_url }}" alt="{{ .Params.hero.image1.image_alt }}">
  </div>
</section>