{{ $heroClass := lower .Page.Title }}
<section aria-labelledby="hero-heading" class="hero {{ anchorize $heroClass }}-hero">
  <div class="wrapper-sm flex">
    <div class="hero__image">
      <img src="{{ .Params.hero.image.image_url}}" alt="">
    </div>
    <div class="hero__content flow">
      <h1 class="shift-down" id="hero-heading">{{ .Params.hero.heading | safeHTML }}</h1>
      <h3 class="primary-font">{{ .Params.hero.sub_heading}}</h3>
      <p>{{ .Params.hero.body | markdownify}}</p>
    </div>
  </div>
</section>