<section aria-labelledby="{{ .heading | urlize }}" class="information-block block">
  <div class="information-block__image-box-left">
    {{ partial "responsive-image" . }}
  </div>
  <div class="information-block__outter-wrapper bg-transparent wrapper-xs pb-1">
    {{ if .heading }}
      <h2 id="{{ .heading | urlize | plainify}}">{{ .heading }}</h2>
    {{ end }}
    <div class="flow">
      {{ range .content }}
      <div class="information-block__content">
        <h2 class="shift-down">{{ .heading }}</h2>
        <p>{{ .body | markdownify}}</p>
      </div>
      {{ end }}
      {{ if .button.enabled }}
      {{ with .button }}
        {{ partial "button-primary" . }}
      {{ end }}
    {{ end }}
    </div>
  </div>
  <div class="information-block__image-box-right">
    {{ partial "second-responsive-image" . }}
  </div>
</section>