<section aria-labelledby="{{ .heading | urlize }}" class="intro block flex">
  <div class="intro__wrapper wrapper-sm">
    <div class="intro__image">
      <img src="{{ .image.image_url }}" alt="">
      <h4>Dr. Emily Radka</h4>
    </div>
    <div class="intro__content flow">
      {{ partial "heading" . }}
      {{ if .body }}
        <p>{{ .body | markdownify }}</p>
      {{ end }} 
      {{ if .button.enabled }}
        {{ with .button }}
          {{ partial "button-primary" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>